<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"href="/stylesheets/front.css">
</head>
<body>
    <h1>Welcome to TaskMaster: Your Ultimate Todo App</h1>
    <div class="name"><h4>Stay organized and boost your productivity with TaskMaster, the premier Todo App designed to streamline your daily tasks and projects. Whether you're managing personal errands, work assignments, or collaborative projects, TaskMaster offers a simple yet powerful way to keep everything in order.</h4></div>
    
</body>
</html>