.d1{
    width:600px;
    height: 500px;
    border:20px solid white;
    border-radius: 0.5rem;
    color:black;
     
    display:flex;
    
    align-items: center;
    justify-content: center;
    

}
body{
    
    display:flex;
    
    align-items: center;
    justify-content: center;
    background-image: url("./wesley-tingey-AZtMXheXnWc-unsplash.jpg");
    background-size: cover;

}
h1{
    font-size: 100px;
    position:relative;
    left:200px;
    
}
p{
    font-size: 70px;
    position:relative;
    top:100px;
    right:80px;
} 

